<div class="container content middleContent styleContent">
	<div id="mainMenu" class="btn-group">
		<button id="0" type="button" class="btn btn-default" style="height:34px;">
			<a href="#/qqq" class="fa fa-home"></a>
		</button>

		<button id="1" type="button" class="btn btn-default">
			<span id="${khmAbon}"></span>
		</button>

		<div class="btn-group" role="group">
			<button id="2" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span id="${khmTovar}"></span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li id="12">
					<a href=""><span id="${ksTovarZpokaz}"></span></a>
				</li>
				<li id="reportEmpty" ng-click="menuClick($event);">
					<span id="${ksTovarPokaz}" class="spanmenu"></span>
				</li>
				<li id="reportTest" ng-click="menuClick($event);">
					<span id="${ksTovarSpozh}" class="spanmenu"></span>
				</li>
				<li><a href="#/qqq"><span id="${ksTovarNarah}"></span></a></li>
				<li><a href="#/qqq"><span id="${ksTovarPrilady}"></span></a></li>
			</ul>
		</div>

		<div class="btn-group" role="group">
			<button id="3" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span id="${khmKoshtu}"></span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#/qqq"><span id="${ksmKoshtuSplat}"></span></a></li>
				<li><a href="#/qqq"><span id="${ksmKoshtuRahunku}"></span></a></li>
				<li><a href="#/qqq"><span id="${ksmKoshtuPlatezhi}"></span></a></li>
				<li><a href="#/qqq"><span id="${ksmKoshtuChart}"></span></a></li>
				<li><a href="#/qqq"><span id="${ksmKoshtuTarif}"></span></a></li>
			</ul>
		</div>

		<div class="btn-group" role="group">
			<button id="4" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span id="${khmDocuvents}"></span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#/qqq"><span id="${ksDocActZriv}"></span></a></li>
				<li><a href="#/qqq"><span id="${ksDocActPorush}"></span></a></li>
				<li><a href="#/qqq"><span id="${ksDocPilgu}"></span></a></li>
				<li><a href="#/qqq"><span id="${ksDocUgoda}"></span></a></li>
			</ul>
		</div>

		<div class="btn-group" role="group">
			<button id="5" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span id="${khmDesc}"></span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#/qqq"><span id="${ksAbonFaq}"></span></a></li>
				<li><a href="#/qqq"><span id="${ksAbonDesc}"></span></a></li>
				<li><a href="#/qqq"><span id="${ksAbonRules}"></span></a></li>
			</ul>
		</div>

		<button type="button" class="btn btn-default" style="height:34px;">
			<a href="" ng-click="saveAs($event);" id="sXLS" class="fa fa-file-excel-o" style="color:green; font-size:1.4em;"></a>
		</button>
		<button type="button" class="btn btn-default" style="height:34px;">
			<a href="" ng-click="saveAs($event);" id="sPDF" class="fa fa-file-pdf-o" style="color:red; font-size:1.4em;"></a>
		</button>
	</div>

	<div id="reportContent" style="background-color:silver; padding:15px;"></div>
</div>