<div class="container content">
	<div id="tabsExample" class="tabs">
		<ul class="nav nav-tabs">
			<li id="l_tab1" class="pointer active">
				<a ng-click="clickTab($event);">Електроенергія</a>
			</li>
			<li id="l_tab2" class="pointer">
				<a ng-click="clickTab($event);">Теплоенергія</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane content active" id="tab1">
				<ul>
					<li><a href="">Report 1</a></li>
					<li><a href="">Report 1</a></li>
					<li><a href="">Report 1</a></li>
					<li><a href="">Report 1</a></li>
					<li><a href="">Report 1</a></li>
					<li><a href="">Report 1</a></li>
				</ul>
			</div>
			<div class="tab-pane content" id="tab2">
				<ul>
					<li><a href="">Report 2</a></li>
					<li><a href="">Report 2</a></li>
					<li><a href="">Report 2</a></li>
					<li><a href="">Report 2</a></li>
					<li><a href="">Report 2</a></li>
					<li><a href="">Report 2</a></li>
				</ul>
			</div>
			<div class="tab-pane content" id="tab3">messages...</div>
			<div class="tab-pane content" id="tab4">settings...</div>
		</div>
	</div>
</div>