<div id="accountTemplate">
	<div class="title" pr-lang="keySelectAccount"></div>
	<div style="padding: 0 15px;">
		<div error-directive></div>
		<hr class="horizHR">
	</div>
	<div class="col-sm-8 content">
		<div>
			<table style="width:100%;">
				<tr ng-repeat="own in actowners | orderBy:['name']" class="spaceUnder">
					<td>
						<div class="ownerButton">
							<span class="fa fa-lightbulb-o pull-left"></span>
							<div>
								<div class="subTitle">
									<span pr-lang="keyOwnerNumber"></span>: №{{own.ownerAccount}}
								</div>
								<hr class="horizHR">
								<div>
									<b><span pr-lang="kMeterNumber"></span>:</b> {{own.sn}}
								</div>
								<div><b><span pr-lang="keyFIO"></span>:</b> {{own.name}}</div>
							</div>
							<div><img src="images/logo_nik.png" alt="Logo"></div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-sm-4 leftBorder">
		<div class="content subTitle {{visibleClass}}">
			<span class="fa fa-user"> </span>
			<span pr-lang="keyAccount"></span>
			<span>: "{{login}}"</span>
		</div>
		<div class="content {{visibleClass}}">
			<ul>
				<li>
					<a href="#/profile" class="btn btn-primary">
						<span class="fa fa-wrench pull-left"></span>
						<span pr-lang="kSettings"></span>
					</a>

					<p pr-lang="kSettingsText"/>
				</li>
				<li>
					<a href="#/addOwner" class="btn btn-success">
						<span class="fa fa-plus pull-left"></span>
						<span pr-lang="keyAddOwnerAccount"></span>
					</a>
					<p pr-lang="keyAddOwnerAccountText"/>
				</li>
				<li>
					<a href="#/delOwner" class="btn btn-danger">
						<span class="fa fa-minus pull-left"></span>
						<span pr-lang="keyProfDelOwner2"></span>
					</a>
					<p pr-lang="keyProfDelOwnerText"/>
				</li>
			</ul>
		</div>
	</div>
</div>