<div id="accountTemplate">
	<div class="title">
		<span id="${keySelectAccount}"></span>
	</div>
	<div style="padding: 0 15px;">
		<div error-directive></div>
		<hr class="horizHR">
	</div>
	<div class="col-sm-8 content">
		<div>
			<table style="width:100%;">
				<tr ng-repeat="own in actowners | orderBy:['name']" class="spaceUnder">
					<td>
						<div class="ownerButton" ng-click="addOrRemoveOwner(true, true);">
							<span class="fa fa-lightbulb-o pull-left"></span>
							<div>
								<div class="subTitle">
									<span id="${keyOwnerNumber}"></span>: №{{own.ownerAccount}}
								</div>
								<hr class="horizHR">
								<div>
									<b><span id="${kMeterNumber}"></span>:</b> {{own.sn}}
								</div>
								<div><b><span id="${keyFIO}"></span>:</b> {{own.name}}</div>
							</div>
							<!-- <div class="glyphicon glyphicon-scale"></div> -->
							<div><img src="images/logo_nik.png" alt="Logo"></div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-sm-4 leftBorder">
		<div class="content subTitle {{visibleClass}}">
			<span class="fa fa-user"> </span>
			<span id="${keyAccount}"></span>
			<span>: "{{login}}"</span>
		</div>
		<div class="content {{visibleClass}}">
			<ul>
				<li>
					<a href="#/profile" class="btn btn-primary">
						<span class="fa fa-wrench pull-left"></span>
						<span id="${kSettings}"></span>
					</a>

					<p><span id="${kSettingsText}"></span></p>
				</li>
				<li>
					<a href="#/addOwner" class="btn btn-success">
						<span class="fa fa-plus pull-left"></span>
						<span id="${keyAddOwnerAccount}"></span>
					</a>
					<p><span id="${keyAddOwnerAccountText}"></span></p>
				</li>
				<li>
					<a href="#/delOwner" class="btn btn-danger">
						<span class="fa fa-minus pull-left"></span>
						<span id="${keyProfDelAccount}"></span>
					</a>
					<p><span id="${keyProfDelAccountText}"></span></p>
				</li>
			</ul>
		</div>
	</div>
</div>