<div id="addAccountTemplate">
	<div class="content">
		<span id="${keyOwnerTitle}" class="title"></span>
	</div>
	<div style="padding: 0 15px;">
		<div error-directive></div>
		<hr class="horizHR">
	</div>
	<div class="row content subDiv">
		<div class="tHeader">
			<h4 class="{{beforProducer}}">
				<b><span id="${keyOwnerProviderTitle}"></span></b>
			</h4>
			<h4 class="{{afterProducer}}" ng-click="selectProvider(0);">
				<b><span id="${keyAnotherProducer}"></span></b>
			</h4>
		</div>
		<div class="col-sm-4 col-sm-offset-1 panel panel-primary {{provider1}}" ng-click="selectProvider(1);">
			<div class="panel-body">
				<span class="fa fa-list-alt pull-left"></span>
				<span id="${keyOwnerProvider1}"></span>
			</div>
			<div class="panel-heading">
				<span id="${keyOwnerProvider1}"></span>
			</div>
		</div>
		<div class="col-sm-4 col-sm-offset-2 panel panel-primary {{provider2}}" ng-click="selectProvider(2);">
			<div class="panel-body">
				<span class="fa fa-list-alt pull-left"></span>
				<span id="${keyOwnerProvider2}"></span>
			</div>
			<div class="panel-heading">
				<span id="${keyOwnerProvider2}"></span>
			</div>
		</div>
	</div>
	<div class="row content subDiv">
		<div class="tHeader">
			<h4><b><span id="${kInputData}"></span></b></h4>
		</div>
		<div class="col-sm-6 regDiv">
			<form method="post">
				<table>
					<tr class="spaceUnder">
						<td class="bold"><span id="${keyOwnerNumber}"></span></td>
						<td>
							<input type="text" pattern="[0-9]*" name="owneraccount" placeholder="1234567890" class="canSelect" autocomplete="off" required value="3570" ng-disabled="isDisabled">
						</td>
					</tr>

					<tr class="spaceUnder">
						<td class="bold"><span id="${kMeterNumber}"></span></td>
						<td>
							<input type="text" pattern="[0-9]*" name="meterNumber" placeholder="123456789" class="canSelect" autocomplete="off" required value="0117864" ng-disabled="isDisabled">
						</td>
					</tr>
				</table>
				<button id="btnHide" ng-click="submitAddOwner();" class="isHide"></button>
			</form>
			<div>
				<button ng-click="submitAddOwner(true);" class="fa fa-plus btn btn-primary pull-right" ng-disabled="isDisabled">
					<span id="${kApply}"></span>
				</button>
			</div>
		</div>
		<div class="col-sm-4 leftBorder pull-right">
			<div>
				<a class="fa fa-info-circle title pull-left"></a>
				<p><span id="${keyOwnerAccountInfo}"></span></p>
			</div>
			<div>
				<a class="fa fa-info-circle title pull-left"></a>
				<p><span id="${keyMeterInfo}"></span></p>
			</div>
		</div>
	</div>
</div>