<div id="deactivation">
	<div class="title" pr-lang="kProfileDeleteTitle"></div>
	<div style="padding: 0 15px;">
		<div error-directive></div>
		<hr class="horizHR">
	</div>
	<div class="col-sm-12 attention">
		<span class="fa fa-info-circle title"></span>
		<b pr-lang="kAttention"></b>
		<p>
			<br>
			<span pr-lang="kProfileDeleteInfoText2"></span>
		</p>
	</div>
	<div class="col-sm-8">
		<div class="row subDiv">
			<h4 class="tHeader">
				<b pr-lang="kProfileDeleteReason"></b>
			</h4>
			<div class="col-sm-12">
				<div>
					<button class="btn-sm menubutton dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span pr-lang="{{deactActive.key}}" data-ind="{{deactActive.id}}">{{deactActive.text}}</span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li id="{{deact.id}}" ng-repeat="deact in deactives" class="menubutton" ng-click="changeDeactive($event);">
							<span pr-lang="{{deact.key}}">{{deact.text}}</span>
						</li>
					</ul>
				</div>
				<textarea class="form-control canSelect"></textarea>
			</div>
		</div>
		<div class="row subDiv">
			<h4 class="tHeader">
				<b pr-lang="kProfileDeleteConfirmTitle"></b>
			</h4>
			<div class="col-sm-11 col-sm-offset-1">
				<form method="post">
					<table>
						<tr>
							<td>
								<b pr-lang="keyCurrentPassword"></b>
							</td>
							<td>
								<input type="password" class="form-control canSelect" required>
							</td>
						</tr>
					</table>
					<button id="btnHide" ng-click="removeProfile();" class="isHide"></button>
				</form>
			</div>
			<button ng-click="removeProfile(true);" class="fa fa-trash btn btn-danger pull-right" pr-lang="keyProfDelAccount">
			</button>
		</div>
	</div>
	<div class="listContent col-sm-4 pull-right leftBorder">
		<div>
			<div>
				<span class="fa fa-info-circle title"></span>
				<a pr-lang="kProfileDeleteInfo" class="subTitle"></a>
			</div>
			<div class="content">
				<p>
					<span pr-lang="kProfileDeleteInfoText"></span>
					<br><br>
					<b pr-lang="kProfileDeleteInfoText2"></b>
				</p>
			</div>
		</div>
	</div>
</div>