<div id="delAccountTemplate">
	<div class="content">
		<span id="${keyProfDelOwner}" class="title"></span>
	</div>
	<div style="padding: 0 15px;">
		<div error-directive></div>
		<hr class="horizHR">
	</div>
	<div class="row content subDiv">
		<div class="tHeader">
			<h4 class="{{beforProducer}}">
				<b><span id="${keySelectOwner4delete}"></span></b>
			</h4>
		</div>
		<div class="col-sm-8">
			<span class="dropdown">
				<button class="btn ownerButton dropdown-toggle form-control" data-toggle="dropdown" aria-expanded="false" ng-model="account4delete" ng-disabled="isDisabled">
					<div class="pull-left">
						<span class="fa fa-lightbulb-o pull-left"></span>
						<div class="pull-left" owner-content>
							<div class="subTitle">
								<span id="${keyOwnerNumber}"></span>: №{{account4delete.ownerAccount}}
							</div>
							<hr class="horizHR">
							<div>
								<b><span id="${kMeterNumber}"></span>:</b> {{account4delete.sn}}
							</div>
							<div>
								<b><span id="${keyFIO}"></span>:</b> {{account4delete.name}}
							</div>
						</div>
						<div class="pull-right">
							<img src="images/logo_nik.png" alt="Logo">
						</div>
					</div>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li idMeter="{{owner.idMeter}}" snMeter="{{owner.sn}}" ownerAccount="{{owner.ownerAccount}}" ownerName="{{owner.name}}" ng-repeat="owner in actowners" class="ownerButton form-control" ng-click="change4delete($event);">
						<div>
							<!-- <span class="fa fa-lightbulb-o pull-left"></span>
							<span class="pull-left">
								<div>
									<span> {{owner.name}}</span>
								</div>
								<div class="comment">
									<span id="${keyOwnerNumber}"></span>: {{owner.ownerAccount}} (
									<span id="${kMeterNumber}"></span>: {{owner.sn}})
								</div>
							</span>
							<div class="pull-right hidden-xs hidden-sm">
								<img src="images/logo_nik.png" alt="Logo">
							</div> -->
							<span class="fa fa-lightbulb-o pull-left"></span>
							<div class="pull-left" owner-content>
								<div class="subTitle">
									<span id="${keyOwnerNumber}"></span>: №{{account4delete.ownerAccount}}
								</div>
								<hr class="horizHR">
								<div>
									<b><span id="${kMeterNumber}"></span>:</b> {{account4delete.sn}}
								</div>
								<div>
									<b><span id="${keyFIO}"></span>:</b> {{account4delete.name}}
								</div>
							</div>
							<div class="pull-right">
								<img src="images/logo_nik.png" alt="Logo">
							</div>
						</div>
					</li>
				</ul>
			</span>

			<div class="pull-right">
				<button ng-click="deleteOwnerAccount();" class="btn btn-danger" ng-disabled="isDisabled">
					<span class="fa fa-trash"> </span>
					<span id="${keyProfDelOwner2}"></span>
				</button>
			</div>
		</div>

		<div class="col-sm-4 col-xs-12 leftBorder pull-right">
			<div>
				<a class="fa fa-info-circle title pull-left"></a>
				<p><span id="${keyDelOwnerInfo}"></span></p>
			</div>
		</div>
	</div>
</div>



	<!-- <br><br><br>
	<div class="content col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 styleContent">
		<span class="dropdown">
			<button type="button" class="btn menubutton dropdown-toggle form-control" data-toggle="dropdown" aria-expanded="false" ng-model="account4delete" ng-disabled="isDisabled">
				<div>
					<span class="fa fa-bolt pull-left hidden-xs"></span>
					<span class="pull-left">
						<div>
							<span> {{account4delete.name}}</span>
						</div>
						<div class="comment">
							<span id="${keyOwnerNumber}"></span>: {{account4delete.ownerAccount}} (
							<span id="${kMeterNumber}"></span>: {{account4delete.sn}})
						</div>
					</span>
				</div>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li idMeter="{{owner.idMeter}}" snMeter="{{owner.sn}}" ownerAccount="{{owner.ownerAccount}}" ownerName="{{owner.name}}" ng-repeat="owner in actowners" class="menubutton form-control" ng-click="change4delete($event);">
					<div>
						<span class="fa fa-bolt pull-left hidden-xs"></span>
						<span class="pull-left">
							<div>
								<span> {{owner.name}}</span>
							</div>
							<div class="comment">
								<span id="${keyOwnerNumber}"></span>: {{owner.ownerAccount}} (
								<span id="${kMeterNumber}"></span>: {{owner.sn}})
							</div>
						</span>
						<span class="glyphicon glyphicon-scale pull-right hidden-xs"></span>
					</div>
				</li>
			</ul>
		</span>
		<br><br>
		<div class="pull-right">
			<button ng-click="deleteOwnerAccount();" class="btn btn-danger" ng-disabled="isDisabled">
				<span class="fa fa-trash"> </span>
				<span id="${keyDelete}"></span>
			</button>
		</div>
	</div>
	<div class="comment error col-sm-4 col-sm-offset-4"></div>
</div> -->