<div id="delAccountTemplate">
	<div class="content title" pr-lang="keyProfDelOwner"></div>
	<div style="padding: 0 15px;">
		<div error-directive></div>
		<hr class="horizHR">
	</div>
	<div class="row content subDiv">
		<div class="tHeader">
			<h4 class="{{beforProducer}}">
				<b pr-lang="keySelectOwner4delete"></b>
			</h4>
		</div>
		<div class="col-sm-8">
			<span class="dropdown">
				<button class="btn ownerButton dropdown-toggle form-control" data-toggle="dropdown" aria-expanded="false" ng-model="account4delete" ng-disabled="isDisabled">
					<div class="pull-left">
						<span class="fa fa-lightbulb-o pull-left"></span>
						<div class="pull-left" owner-content>
							<div class="subTitle">
								<span pr-lang="keyOwnerNumber"></span>: №{{account4delete.ownerAccount}}
							</div>
							<hr class="horizHR">
							<div>
								<b><span pr-lang="kMeterNumber"></span>:</b> {{account4delete.sn}}
							</div>
							<div>
								<b><span pr-lang="keyFIO"></span>:</b> {{account4delete.name}}
							</div>
						</div>
						<div class="pull-right">
							<img src="images/logo_nik.png" alt="Logo">
						</div>
					</div>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li idMeter="{{owner.idMeter}}" snMeter="{{owner.sn}}" ownerAccount="{{owner.ownerAccount}}" ownerName="{{owner.name}}" ng-repeat="owner in actowners" class="ownerButton form-control" ng-click="change4delete($event);">
						<div>
							<span class="fa fa-lightbulb-o pull-left"></span>
							<div class="pull-left" owner-content>
								<div class="subTitle">
									<span pr-lang="keyOwnerNumber"></span>: №{{owner.ownerAccount}}
								</div>
								<hr class="horizHR">
								<div>
									<b><span pr-lang="kMeterNumber"></span>:</b> {{owner.sn}}
								</div>
								<div>
									<b><span pr-lang="keyFIO"></span>:</b> {{owner.name}}
								</div>
							</div>
							<div class="pull-right">
								<img src="images/logo_nik.png" alt="Logo">
							</div>
						</div>
					</li>
				</ul>
			</span>

			<div class="pull-right">
				<button ng-click="deleteOwnerAccount();" class="btn btn-danger" ng-disabled="isDisabled">
					<span class="fa fa-trash"> </span>
					<span pr-lang="keyProfDelOwner2"></span>
				</button>
			</div>
		</div>

		<div class="col-sm-4 col-xs-12 leftBorder pull-right">
			<div>
				<a class="fa fa-info-circle title pull-left"></a>
				<p pr-lang="keyDelOwnerInfo"/>
			</div>
		</div>
	</div>
</div>