<div id="profileInfo">
	<div class="title">
		<span id="${kSettings}"></span>
	</div>
	<div style="padding: 0 15px;">
		<div error-directive></div>
		<hr class="horizHR">
	</div>
	<div class="col-md-8 col-sm-7">
		<form method="post" ng-style="formStyle" autocomplete="off">
			<div class="row subDiv">
				<h4 class="tHeader">
					<b><span id="${keyChangeEmailPhone}"></span></b>
				</h4>
				<div class="col-md-8 col-md-offset-2">
					<table>
						<tr class="spaceUnder">
							<td class="bold"><span id="${kEmail}"></span> *</td>
							<td><input type="email" name="email", class="form-control canSelect" required ng-disabled="isDisabled" autocomplete="off" ng-click="valid($event);"></td>
						</tr>
						<tr class="spaceUnder">
							<td class="bold"><span id="${keyPhone}"></span></td>
							<td><input type="text" name="phone" pattern="\+?[3][8][(][0-9]{3}[)][0-9]{7}" placeholder="+38(050)1122334" class="form-control canSelect" ng-disabled="isDisabled" autocomplete="off" ng-click="valid($event);"></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row subDiv">
				<h4 class="tHeader"><b><span id="${keyChangePassword}"></span></b></h4>
				<div class="col-md-8 col-md-offset-2">
					<table>
						<tr class="spaceUnder">
							<td class="bold"><span id="${kPassword1}"></span></td>
							<td><input type="password" name="pwd1", class="form-control canSelect" ng-disabled="isDisabled"></td>
						</tr>
						<tr class="spaceUnder">
							<td class="bold"><span id="${kPassword2}"></span></td>
							<td><input type="password" name="pwd2", class="form-control canSelect" ng-disabled="isDisabled"></td>
						</tr>
					</table>
				</div>
			</div>
			<hr>
			<div class="row subDiv">
				<div class="col-md-8 col-md-offset-2">
					<table>
						<tr class="spaceUnder">
							<td class="bold"><span id="${keyCurrentPassword}"></span> *</td>
							<td><input type="password" name="pwd", class="form-control canSelect" required ng-disabled="isDisabled"></td>
						</tr>
					</table>
				</div>
			</div>

			<button id="btnHide" ng-click="submitProfile();" class="isHide"></button>
		</form>

		<button ng-click="submitProfile(true);" ng-disabled="isDisabled" class="fa fa-check btn btn-primary pull-right">
			<span id="${keyChange}"></span>
		</button>
	</div>

	<div class="listContent col-md-4 col-sm-5 pull-right leftBorder">
		<div>
			<div>
				<span class="fa fa-info-circle title"></span>
				<a href="#/account">
					<span class="subTitle" id="${keyProfNewAccount}"></span>
				</a>
			</div>
			<div class="content">
				<p>
					<span id="${keyProfNewAccountText}"></span>
				</p>
			</div>
		</div>
		<div>
			<div>
				<span class="fa fa-info-circle title"></span>
				<a href="#/deactivation">
					<span class="subTitle" id="${keyProfDelAccount}"></span>
				</a>
			</div>
			<div class="content">
				<p>
					<span id="${keyProfDelAccountText}"></span>
				</p>
			</div>
		</div>
		<div>
			<div>
				<span class="fa fa-info-circle title"></span>
				<a href="#/account">
					<span class="subTitle" id="${keyProfDelOwner}"></span>
				</a>
			</div>
			<div class="content">
				<p>
					<span id="${keyProfDelOwnerText}"></span>
				</p>
			</div>
		</div>
	</div>
</div>