<div class="container header" ng-controller="headerController">
	<div class="pull-left">
		<a href="/HeatSupply" style="padding-left: 10px;">
			<img src="images/logo_nik.png" alt="Logo">
		</a>
	</div>

	<div class="btn-group">
		<button id="1" type="button" class="btn btn-default">
			<span id="${khmMain}"></span>
		</button>
		<button id="2" type="button" class="btn btn-default">
			<span id="${khmNews}"></span>
		</button>
		<button id="3" type="button" class="btn btn-default">
			<span id="${khmInfo}"></span>
		</button>
		<button id="4" type="button" class="btn btn-default">
			<span id="${khmAbout}"></span>
		</button>
		<button id="5" type="button" class="btn btn-default">
			<span id="${khmContacts}"></span>
		</button>
		<button id="6" type="button" class="btn btn-default">
			<span id="${khmForum}"></span>
		</button>
		<button id="7" type="button" class="btn btn-default">
			<span id="${khmHelp}"></span>
		</button>
	</div>

	<div class="pull-right">
		<span>
			<a id="currentUserIcon" href="main.html" class="fa fa-user isHide"></a>
			<a id="currentUser" href="/HeatSupply/#/profile" class="fa titleCenter"></a>
			<div class="right_header"></div>
			<a id="aLogin" href="#login" class="fa fa-sign-in">
				<span id="${kLogin}"></span>
			</a>
		</span>
		<span class="dropdown">
			<button id="curLangButton" type="button" class="btn-sm menubutton dropdown-toggle" data-toggle="dropdown" aria-expanded="false" lang="{{langId}}">
				<img ng-src="{{langImg}}" width="20">
				<span>{{langDesc}}</span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li id="{{locale.id}}" ng-repeat="locale in locales" class="menubutton" ng-click="click($event);">
					<img ng-src="{{locale.img}}" alt="flag" width="20">
					<span>{{locale.langName}}</span>
				</li>
			</ul>
		</span>
	</div>
</div>