<div class="header" ng-controller="headerController">
	<div class="pull-left">
		<a href="/HeatSupply" style="padding-left: 10px;">
			<img src="./resources/logo_nik.png" alt="Logo">
		</a>
	</div>
	<div class="pull-right">
		<span>
			<a id="currentUserIcon" href="main.html" class="fa fa-user isHide"></a>
			<a id="currentUser" href="#profile" class="fa titleCenter"></a>
			<div class="right_header"></div>
			<a id="aLogin" href="#login" class="fa fa-sign-in">
				<span id="${kLogin}"></span>
			</a>
		</span>
		<span class="dropdown">
			<button id="curLangButton" type="button" class="btn-sm menubutton dropdown-toggle" data-toggle="dropdown" aria-expanded="false" lang="{{langId}}">
				<img ng-src="{{langImg}}" width="20">
				<span>{{langDesc}}</span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li id="uk" class="menubutton" ng-click="click($event);">
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Flag_of_Ukraine.svg/125px-Flag_of_Ukraine.svg.png" width="20">
					<span>Українська</span>
				</li>
				<li id="ru" class="menubutton" ng-click="click($event);">
					<img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/125px-Flag_of_Russia.svg.png" width="20">
					<span>Русский</span>
				</li>
				<li id="en" class="menubutton" ng-click="click($event);">
					<img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/125px-Flag_of_the_United_States.svg.png" width="20">
					<span>English</span>
				</li>
			</ul>
		</span>
	</div>
</div>