#carouselTestWrapper{
	bottom: 70px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
		width: 100px;
		margin: auto;
}
.carousel-inner{height: 120px;}
.carousel-caption{top: 75px; color: blue;}
.caption{bottom: 0px;}
.carousel-indicators{top: 80px;}
.carousel-indicators > li,
.carousel-indicators .active{background-color: blue;}

#tabsExample{
	border-radius: 5px;
	height: calc(100% - 120px);
}
#tabsExample .tab-content{
	min-height: 200px;
	border: 2px solid #ddd;
	border-radius: 0 0 5px 5px;
}
#tabsExample > ul > li[class*="active"] > a{background-color: #ddd;}