<form method="post">
	<table >
		<tr class="spaceUnder">
			<td class="bold"><span id="${keyLogin}"></span></td>
			<td>
				<input type="text" name="user" value="admin" class="form-control canSelect" required>
			</td>
		</tr>
		<tr class="spaceUnder">
			<td class="bold"><span id="${kPassword}"></span></td>
			<td>
				<input type="password" name="pwd", class="form-control canSelect" required>
			</td>
		</tr>
	</table>
	<button id="btnHide" ng-click="sendLogin();" class="isHide"></button>
</form>
<hr>
<div>
	<button class="btn btn-primary" ng-click="sendLogin();">
		<span id="${kLogin}"></span>
	</button>
	<a href="#registration" class="button pull-right">
		<button class="btn btn-success">
			<span id="${kRegisterButton}"></span>
		</button>
	</a>
	<br>
	<a href=""><span id="${kRecover}"></span></a>
</div>