<nav class="navbar" style="min-height:0;margin-bottom:0;height:34px;">
	<div class="navbar-header">
		<button class="navbar-toggle" data-toggle="collapse" data-target="#menuNavbar" style="margin: 0">
			<span class="icon-bar" style="background-color: white;"></span>
			<span class="icon-bar" style="background-color: white;"></span>
			<span class="icon-bar" style="background-color: white;"></span>
		</button>
		<div profile-directive class="pull-right lang"></div>
		<div>
			<a href="#/" class="btn fa fa-home"></a>
		</div>
	</div>
	<div class="collapse navbar-collapse" id="menuNavbar">
		<div class="btn-group">
			<button class="btn" pr-lang="khmAbon">
			</button>

			<div class="btn-group btnLeftBorder" role="group">
				<button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span pr-lang="khmTovar"></span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a pr-lang="ksTovarZpokaz"></a>
					</li>
					<li id="reportEmpty" ng-click="menuClick($event);">
						<a pr-lang="ksTovarPokaz"></a>
					</li>
					<li id="reportTest" ng-click="menuClick($event);">
						<a pr-lang="ksTovarSpozh"></a>
					</li>
					<li>
						<a pr-lang="ksTovarNarah"></a>
					</li>
					<li>
						<a pr-lang="ksTovarPrilady"></a>
					</li>
				</ul>
			</div>

			<div class="btn-group btnLeftBorder" role="group">
				<button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span pr-lang="khmKoshtu"></span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#/qqq" pr-lang="ksmKoshtuSplat"></a></li>
					<li><a href="#/qqq" pr-lang="ksmKoshtuRahunku"></a></li>
					<li><a href="#/qqq" pr-lang="ksmKoshtuPlatezhi"></a></li>
					<li><a href="#/qqq" pr-lang="ksmKoshtuChart"></a></li>
					<li><a href="#/qqq" pr-lang="ksmKoshtuTarif"></a></li>
				</ul>
			</div>

			<div class="btn-group btnLeftBorder" role="group">
				<button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span pr-lang="khmDocuvents"></span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#/qqq" pr-lang="ksDocActZriv"></a></li>
					<li><a href="#/qqq" pr-lang="ksDocActPorush"></a></li>
					<li><a href="#/qqq" pr-lang="ksDocPilgu"></a></li>
					<li><a href="#/qqq" pr-lang="ksDocUgoda"></a></li>
				</ul>
			</div>

			<div class="btn-group btnLeftBorder" role="group">
				<button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span pr-lang="khmDesc"></span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#/qqq" pr-lang="ksAbonFaq"></a></li>
					<li><a href="#/qqq" pr-lang="ksAbonDesc"></a></li>
					<li><a href="#/qqq" pr-lang="ksAbonRules"></a></li>
				</ul>
			</div>

			<!-- <button class="btn" style="padding:4px;">
				<a href="" ng-click="saveAs($event);" id="sXLS" class="fa fa-file-excel-o"></a>
			</button>
			<button class="btn" style="padding:4px;">
				<a href="" ng-click="saveAs($event);" id="sPDF" class="fa fa-file-pdf-o"></a>
			</button> -->
		</div>
		<div profile-directive class="pull-right langInv"></div>
	</div>
</nav>
<div class="pathClass"><a>Path</a></div>