<nav class="navbar" style="min-height:0;margin-bottom:0;height:34px;">
	<div class="navbar-header">
		<button class="navbar-toggle" data-toggle="collapse" data-target="#menuNavbar" style="margin: 0">
			<span class="icon-bar" style="background-color: white;"></span>
			<span class="icon-bar" style="background-color: white;"></span>
			<span class="icon-bar" style="background-color: white;"></span>
		</button>
		<div profile-directive class="pull-right lang"></div>
		<div>
			<a href="#/" class="btn fa fa-home"></a>
		</div>
	</div>
	<div class="collapse navbar-collapse" id="menuNavbar" style="padding: 0;">
		<div class="btn-group">
			<button class="btn">
				<span id="${khmAbon}"></span>
			</button>

			<div class="btn-group btnLeftBorder" role="group">
				<button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span id="${khmTovar}"></span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a><span id="${ksTovarZpokaz}"></span></a>
					</li>
					<li id="reportEmpty" ng-click="menuClick($event);">
						<a><span id="${ksTovarPokaz}"></span></a>
					</li>
					<li id="reportTest" ng-click="menuClick($event);">
						<a><span id="${ksTovarSpozh}"></span></a>
					</li>
					<li>
						<a><span id="${ksTovarNarah}"></span></a>
					</li>
					<li>
						<a><span id="${ksTovarPrilady}"></span></a>
					</li>
				</ul>
			</div>

			<div class="btn-group btnLeftBorder" role="group">
				<button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span id="${khmKoshtu}"></span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#/qqq"><span id="${ksmKoshtuSplat}"></span></a></li>
					<li><a href="#/qqq"><span id="${ksmKoshtuRahunku}"></span></a></li>
					<li><a href="#/qqq"><span id="${ksmKoshtuPlatezhi}"></span></a></li>
					<li><a href="#/qqq"><span id="${ksmKoshtuChart}"></span></a></li>
					<li><a href="#/qqq"><span id="${ksmKoshtuTarif}"></span></a></li>
				</ul>
			</div>

			<div class="btn-group btnLeftBorder" role="group">
				<button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span id="${khmDocuvents}"></span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#/qqq"><span id="${ksDocActZriv}"></span></a></li>
					<li><a href="#/qqq"><span id="${ksDocActPorush}"></span></a></li>
					<li><a href="#/qqq"><span id="${ksDocPilgu}"></span></a></li>
					<li><a href="#/qqq"><span id="${ksDocUgoda}"></span></a></li>
				</ul>
			</div>

			<div class="btn-group btnLeftBorder" role="group">
				<button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span id="${khmDesc}"></span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#/qqq"><span id="${ksAbonFaq}"></span></a></li>
					<li><a href="#/qqq"><span id="${ksAbonDesc}"></span></a></li>
					<li><a href="#/qqq"><span id="${ksAbonRules}"></span></a></li>
				</ul>
			</div>

			<!-- <button class="btn" style="padding:4px;">
				<a href="" ng-click="saveAs($event);" id="sXLS" class="fa fa-file-excel-o"></a>
			</button>
			<button class="btn" style="padding:4px;">
				<a href="" ng-click="saveAs($event);" id="sPDF" class="fa fa-file-pdf-o"></a>
			</button> -->
		</div>
		<div profile-directive class="pull-right langInv"></div>
	</div>
</nav>
<div class="pathClass"><a>Path</a></div>