<div id="regDiv2" class="content col-sm-8 regDiv">
	<form method="post" ng-style="formStyle">
		<div class="row subDiv">
			<h4 class="tHeader">
				<b pr-lang="kInputData"></b>
			</h4>
			<div class="col-sm-8 col-sm-offset-2">
				<table>
					<tr class="spaceUnder">
						<td class="bold" pr-lang="keyLogin"/>
						<td>
							<input type="text" name="login" placeholder="login" class="form-control canSelect" autocomplete="off" required>
						</td>
					</tr>
					<tr class="spaceUnder">
						<td class="bold" pr-lang="keyPhone"/>
						<td>
							<input type="text" name="phone" pattern="\+?[3][8][(][0-9]{3}[)][0-9]{7}" placeholder="+38(050)1122334" class="form-control canSelect" autocomplete="off">
						</td>
					</tr>
					<tr class="spaceUnder">
						<td class="bold" pr-lang="kEmail"/>
						<td>
							<input type="email" name="email" placeholder="login@domain.com" class="form-control canSelect" autocomplete="off" required>
						</td>
					</tr>
					<tr class="spaceUnder">
						<td class="bold" pr-lang="kPassword"/>
						<td>
							<input type="password" name="password" class="form-control canSelect" autocomplete="off" required>
						</td>
					</tr>
					<tr class="spaceUnder">
						<td class="bold" pr-lang="kPassword2"/>
						<td>
							<input type="password" name="password2" class="form-control canSelect" autocomplete="off" required>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<button id="btnHide" ng-click="submitRegistrationLast();" class="isHide"></button>
	</form>
	<button ng-click="submitRegistrationLast(true);" class="btn btn-primary" pr-lang="kRegister">
	</button>
</div>

<div class="listContent col-sm-4 pull-right leftBorder">
	<div>
		<div>
			<span class="fa fa-info-circle title"></span>
			<a pr-lang="keyProfNewAccount" class="subTitle"></a>
		</div>
		<div class="content">
			<p pr-lang="keyProfNewAccountText"/>
		</div>
	</div>
</div>